/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
 }
 .container{
    max-width: 1208px;
    width: 100%;
    margin: 0 20%;
  }

  /*In common */
  h2{
	
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 72%;
color: #FFFFFF;
  }
  p{
	font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 162%;
letter-spacing: 1.6px;
color: #E8E8E8;

  }

  /*Header*/
  header{
    background-image: url(/assets/headerBg.png);
	background-size:cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;

  }

  .main-header__article{
	width: 100%;
	padding-top: 264px;
	padding-bottom: 162px;
	text-align: center;
	
  }
  .main-header__title{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 54%;
letter-spacing: 4.8px;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 11px;
  }
  .main-header__subtitle{

	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 118%;
	letter-spacing: 6.82px;
	color: #FFFFFF;
	padding-bottom: 48px;
	
}
.main-header__form{
margin-bottom: 108px;
display: flex;
align-items: center;
justify-content: center;

}
form{
	width: 653px;
	height: 63px;
	display: flex;
	
}
form input{
	flex: 1;
	border: none;
	outline: none;
		
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 186%;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 2.8px;
	color: #999999;

}
form button{
	padding:10px 40px;
	background: #5474FD;
	border: 2px solid #FFFFFF;


	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 186%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: #FFFFFF;
	
}
.main-header__scroll{
	
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
letter-spacing: 2.8px;
color: #FFFFFF;

}



.head {
    height: 80px;
	background: #5474FD;
  }
  .head__logo {
    float: left;
    padding:30px 0px;
	
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 108%;

	display: flex;
	align-items: center;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #FFFFFF;
  }
  
  .main-nav{
    float: right;
  }
  
  .main-nav ul{
    float: left;
    list-style: none;
    padding: 28px;
  }
  .main-nav li {
    float: left;
	width: 126px;
	height: 26px;
    margin-right: 12px;
  }
  .main-nav li a{
		
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 186%;
	text-decoration: none;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
  }

  /* Choose Us */
  .chooseus{
	background-image: url(/assets/chooseusBG.png);
	background-size:cover;
	background-repeat: no-repeat;
	

  }
  
.wrapper{
	width: 100%;
    display: grid; 
	grid-template-columns: 55% 40%; 
	gap: 0px 0px; 
	grid-template-areas: 
		"col1 col2 "
	}
	.chooseus__article{ grid-area: col1;
		padding-top: 212px;
		width: 80%;
	 }
	.chooseus__title{
		padding-bottom: 50px;
	}
	.chooseus__text{
		padding-bottom: 42px;
	}
	.chooseus__images{ grid-area: col2;
	padding-top: 135px;
	padding-bottom: 100px; }
	.chooseus__images2{
		float: right;
		padding-top: 10px;
	}
